.header {
  background: #3b5998;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #eee;
}
