.post-item {
  max-width: 660px;
  margin: 20px auto;
  list-style: none;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133916);
}

.post-item header {
  display: flex;
  align-items: center;
}

.post-item header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.post-item header .content {
  margin-left: 10px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  color: #4a4a4a;
}

.post-item header .content small {
  display: block;

  font-size: 12px;
  line-height: 16px;
  color: #ccc;
}

.post-item .body {
  padding-top: 10px;
}

.post-item .body p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #3e3e3e;
}

.post-item .comments {
  padding-top: 5px;
  margin-top: 10px;
  border-top: 1px solid #eeeeee;
}
